{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        {% if messages %}
            {% for msg in messages %}
                <h4>{{ msg }}</h4>
            {% endfor %}
        {% else %}
            {% if user.is_authenticated %}
                <h4>Welcome {{ user.first_name }}, nice to see You!</h4>
            {% else %}
                <h4>Welcome to SimpleLIMS application, please log in.</h4>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}